*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header{
    padding: 0 10rem;
    background-color: #2874F0;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;


    #header-left{
        display: flex;
        align-items: center;
        gap:1rem;
        
        img{
            height: 3rem;
        }

        #header-search{
            background-color: white;
            display: flex;
            
            align-items: center;
            gap: 1rem;
            padding: 0.75rem 1rem;

            input{
                border: none;
                width: 35rem;
            }

            input:focus{
                outline: none;
            }
            img{
                height: 1rem;
            }
        }
    }

    #header-right{
        #header-right-nav{
            #header-right-nav-list{
                display: flex;
                list-style: none;
                gap: 1rem;

                a{
                    text-decoration: none;
                    color: currentColor;
                }
                
                .header-right-nav-list-item{
                    padding: 0.75rem 1rem;
                    color: white;
                }
                .login{
                    padding: 0.75rem 2rem;
                    background-color: white;
                    color: #2874F0;
                }
            }
        }
    }
}

.global-nav{
    padding: 1rem 15rem;

    .global-nav-list{
        display: flex;
        justify-content: space-around;
        list-style: none;
        gap: 1rem;

        a{
            text-decoration: none;
            color: currentColor;

            figure{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    height: 4rem;
                    width: 4rem;
                }
            }
        }
    }
}


main{
    background-color: #F1F3F6;
    flex-grow: 1;
    padding-top: 1rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;

    .DOD{
        background-color: white;
        
        
        .DOD-top{
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #F1F3F6;

            .DOD-top-left{
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                align-items: center;

                h2{
                    font-weight: normal;
                }

                .DOD-top-timer{
                    color: #808080;
                }
            }

            .DOD-top-right{

                button{
                    background-color: #2874F0;
                    border: none;
                    color: white;
                    padding: 0.5rem 1rem;
                }
            }
        }
    }
}